# Feel free to copy it to config.yml and adapt. You can reuse existing configurations or you can use your own.

# SparqlStore and TriplePatternStore related configurations
fileCacheConfig: &fileCacheConfig
    type: "file"

memcachedCacheConfig: &memcachedCacheConfig
    type: "memcached"

phparrayCacheConfig: &phparrayCacheConfig
    type: "phparray"
