<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    bootstrap="vendor/autoload.php"
    colors="true"
    verbose="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    checkForUnintentionallyCoveredCode="true"
    beStrictAboutChangesToGlobalState="true"
    >
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.error_level" value="0" />
    </php>
    <!-- Define wich test cases should be executed -->
    <testsuites>
        <testsuite name="Saft">
            <directory suffix="Test.php">./src/Saft/*/Test</directory>
            <directory suffix="Test.php">./src/Saft/Addition/*/Test</directory>
        </testsuite>
    </testsuites>
    <!-- Enable Code Coverage report -->
    <logging>
        <log type="coverage-html" target="gen/coverage/" title="Saft" />
        <log type="junit" target="gen/test/log.junit.xml" logIncompleteSkipped="true" />
        <log type="testdox-html" target="gen/test/testdox.html" />
    </logging>
    <!-- Define which files are included in the code coverage report -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix="Test.php">./src/Saft/*/Test</directory>
                <directory suffix="Test.php">./src/Saft/Backend/*/Test</directory>
                <directory>./src/Saft/Test</directory>
                <file>./src/Saft/TestCase.php</file>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
