#
# This file contains a list with different configurations for test cases which rely on store.
#
# Feel free to copy it to test-config.yml and adapt. You can reuse existing configurations or you can use your own.

# SparqlStore and TriplePatternStore related configurations
httpConfig: &httpConfig
    authUrl: "http://localhost:8890/sparql-auth"
    queryUrl: "http://localhost:8890/sparql"
    username: "dba"
    password: "dba"

arc2Config: &arc2Config
    username: "saft"
    password: "saft"
    host: "localhost"
    database: "saft"
    table-prefix: "saft"

virtuosoConfig: &virtuosoConfig
    dsn: "VOS"
    username: "dba"
    password: "dba"

# Erfurt related
erfurtConfig: &erfurtConfig
    cache:
        backend:
            file:
                cache_dir: "" # will be set later on
            type: "file"
        frontend:
            cache_id_prefix: "saft_"
            enable: true
            lifetime: 0
        query: # query cache related
            enable: 1
            type: "database"
    store:
        backend: "zenddb" # change that to virtuoso to enable Virtuoso backend
        zenddb:
            dbname: "saft"
            username: "root"
            password: "root"
            dbtype: "mysql"
            host: "localhost"
        virtuoso:
            dsn: "VOS"
            username: "dba"
            password: "dba"
