#
# This file contains a list with different configurations for test cases which rely on store and cache.
#
# Feel free to copy it to test-config.yml and adapt. You can reuse existing configurations or you can use your own.

# SparqlStore and TriplePatternStore related configurations
httpConfig: &httpConfig
    authUrl: "http://localhost:8890/sparql-auth"
    queryUrl: "http://localhost:8890/sparql"
    username: "dba"
    password: "dba"

arc2Config: &arc2Config
    username: "saft"
    password: "saft"
    host: "localhost"
    database: "saft"
    table-prefix: "saft"

queryCacheConfig: &queryCacheConfig
    cacheConfig:
        class: "Saft\\Addition\\FileCache\\Cache\\File"
        cachePath: "/tmp/saft/"

virtuosoConfig: &virtuosoConfig
    dsn: "VOS"
    username: "dba"
    password: "dba"

# Cache related configurations.
fileCacheConfig: &fileCacheConfig
    cachePath: "/tmp/saft/"

memcachedCacheConfig: &memcachedCacheConfig
    host: "127.0.0.1"
    port: "11211"
