#
# This file contains a list with different configurations for test cases which rely on store and cache.
#
# Feel free to copy it to config.yml and adapt. You can reuse existing configurations or you can use your own.

# SparqlStore and TriplePatternStore related configurations
httpConfig: &httpConfig
    type: "http"
    authUrl: "http://localhost:8890/sparql-auth"
    queryUrl: "http://localhost:8890/sparql"
    username: "dba"
    password: "dba"
  
queryCacheConfig: &queryCacheConfig
    type: "querycache"

virtuosoConfig: &virtuosoConfig
    type: "virtuoso"
    dsn: "VOS"
    username: "dba"
    password: "dba"

# Cache related configurations.
fileCacheConfig: &fileCacheConfig
    type: "file"
    # cachePath: "/tmp/saft/"

memcachedCacheConfig: &memcachedCacheConfig
    type: "memcached"
    host: "127.0.0.1"
    port: "11211"

phparrayCacheConfig: &phparrayCacheConfig
    type: "phparray"

# Test configuration
configuration:
    # Default cache
    # If a TestCase has to decide which cache backend to use, it uses this.
    standardCache:
        <<: *phparrayCacheConfig
        
    # Default store
    # If a TestCase has to decide which store implementation to use, it uses this.
    standardStore:
        <<: *virtuosoConfig
