<!--
 * This file is part of Saft.
 *
 * (c) Konrad Abicht <hi@inspirito.de>
 * (c) Natanael Arndt <arndt@informatik.uni-leipzig.de>
 *
 * For the full copyright and license information, please view the LICENSE
 * file that was distributed with this source code.
-->
<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.1/phpunit.xsd"
    backupGlobals="false"
    backupStaticAttributes="false"
    bootstrap="Test/bootstrap.php"
    colors="true"
    convertErrorsToExceptions="true"
    convertNoticesToExceptions="true"
    convertWarningsToExceptions="true"
    processIsolation="false"
    stopOnFailure="false"
    syntaxCheck="false"
    verbose="true"
    >
    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="intl.error_level" value="0" />
        <ini name="display_errors" value="On"/>
    </php>
    <!-- Define wich test cases should be executed -->
    <testsuites>
        <testsuite name="Saft-Addition-Virtuoso">
            <directory suffix="Test.php">./Test</directory>
        </testsuite>
    </testsuites>
    <!-- Enable Code Coverage report -->
    <logging>
        <log type="coverage-html" target="gen/coverage/" title="Saft" />
        <log type="junit" target="gen/test/log.junit.xml" logIncompleteSkipped="true" />
        <log type="testdox-html" target="gen/test/testdox.html" />
    </logging>
    <!-- Define which files are included in the code coverage report -->
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./Store</directory>
        </whitelist>
    </filter>
</phpunit>
